.active  {
    background-color: #47b475 !important;
    color: #ffffff !important;
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
    padding: 13px;
    text-align: center;
    border: none;
}

.unactive {
    background-color: #cbcbcb !important;
    color: #666666 !important;
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
    padding: 13px;
    text-align: center;
    border: none;
}



.accordion {
    width: 500px;
}

.content {

    color: grey;
    max-height: 0;
    overflow-x: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content__show {
    max-height: 9999px;
    transition: all 0.1s cubic-bezier(1, 0, 1, 0)
}